.idea/
.gradle/
build/
obj/
*.iml
local.properties
TMessagesProj/google-services.json
TMessagesProj_App/google-services.json
TMessagesProj/.cxx/
TMessagesProj/jniLibs/
TMessagesProj/jniRes/
**/.DS_Store
TMessagesProj/afat/
TMessagesProj_App/afat/
TMessagesProj/jni/ffmpeg/build_android
